<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mybatis-spring="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


    <!-- dataSource 객체 -->
    <bean class = "org.springframework.jdbc.datasource.DriverManagerDataSource" id = "dataSource">
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
        <property name="username" value="notehub"/>
        <property name="password" value="123456" />
    </bean>

    <!-- sqlSessionFactory 객체 -->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id = "sqlSessionFactory">
        <property name="dataSource" ref = "dataSource"/>
        <property name="configLocation" value="classpath:/mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath:/com.notehub.mapper/*Mapper.xml"/>
    </bean>

    <!-- sqlSessionTemplate 설정 -->
    <bean id = "sqlSession" class="org.mybatis.spring.SqlSessionTemplate" destroy-method="clearCache">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

    <mybatis-spring:component-scan base-package="com.notehub.mapper"/>
</beans>